﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>TestTrianlge Test</p>
        @if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
        {
            <div class="myAlert-top alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> @ViewBag.SuccessMessage.
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
        {
            <div class="myAlert-top alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Fail!</strong> @ViewBag.ErrorMessage.
            </div>
        }
        <div class="row">
            <div class="col-12">
                <form action="Home" method="post">
                    <div class="form-group row flex-v-center">
                        <div class="col-xs-3 col-sm-3">
                            <input type="text" name="Name" placeholder="Name" required />
                        </div>
                        <div class="col-xs-3 col-sm-3">
                            <input type="text" name="Email" placeholder="Email" inputmode="email" required />
                        </div>
                        <div class="col-xs-3 col-sm-3">
                            <input type="text" name="Phone" placeholder="Phone" required />
                        </div>
                        <div class="col-xs-3 col-sm-3">
                            <input type="submit" value="Save User" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<table class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Id</td>
                    <td>@d.Name</td>
                    <td>@d.Email</td>
                    <td>@d.Phone</td>

                </tr>
            }
        }
    </tbody>
</table>
